<mat-card>
    <form [formGroup]="form" (submit)="submitResponse()" #formDirective="ngForm">
        <mat-form-field appearance="fill">
            <mat-label>As user</mat-label>
            <mat-select formControlName="chosenUser" required>
                <mat-option *ngFor="let user of users" [value]="user.id">
                    {{user.email}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let questionObj; let questionIndex = index of questions">
                    <h3 matLine> {{questionObj.question}} </h3>
                    <p matLine>
                        <mat-radio-group aria-label="Select an option"
                            [formControl]="form.controls.responses.at(questionIndex).controls.answeredIndex">
                            <mat-radio-button *ngFor="let answer of questionObj.answers; let answerIdx = index"
                                [value]="answerIdx">{{answer}}</mat-radio-button>
                        </mat-radio-group>
                    </p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">Submit</button>
        </mat-card-actions>
    </form>

    Number of people owning and iPhone and driving a car: {{matchingUsersCount}}.
</mat-card>